<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gannon.gutools.dev"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.holoeverywhere.app.Application"
        android:theme="@style/Holo.Theme.Light.DarkActionBar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        >
        
       
        <activity
            android:name="com.gannon.gutools.activities.LoginActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_main" android:theme="@style/Holo.Theme.NoActionBar"
            android:screenOrientation="portrait">
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gannon.gutools.activities.LoadingScreenActivity"
            android:noHistory="true"
            android:theme="@style/Holo.Theme.NoActionBar"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gannon.gutools.activities.HomeActivity"
            android:noHistory="true"
            android:label="@string/title_activity_web_view" 
            android:screenOrientation="portrait">

        </activity>
        <service android:name="com.gannon.gutools.activities.StreamService"></service>
    </application>

</manifest>